<!DOCTYPE html >
		
		<link type="text/css" media="all" href="./static/1/autoptimize_c2e873398401df0ac380e75fd1e17d37.css" rel="stylesheet"><title>CMS Security Scanner | Fds.ma</title>

<!-- This site is optimized with the Yoast SEO plugin v7.7.3 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Test Drupal Security and site configuration with this online scanner. Drupal is one of the worlds leading content management system.">





<link rel="stylesheet" id="bateaux-google-fonts-css" href="./static/1/css" type="text/css" media="all">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		
		<script src="./static/1/wp-emoji-release.min.js" type="text/javascript" defer=""></script></head>

	

<body style="background-color: #f5f5f5;" class="page-template-default page page-id-1059 btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--topnav-standard btx-layout--fixednav container-animated cookies-not-set" data-scheme="light" data-layout="wide" data-arrow_style="ln-arrow" data-arrow_background="square" style="">
	
	<div class="btx-wrapper btx-p-bg-bg">

		
			
			<header class="btx-header" data-transparent="" data-height="70">
				
															
<nav class="btx-navbar btx-navbar--standard btx-dark-scheme btx-highlight-default btx-navbar--right btx-navbar--small has-fixed-logo btx-navbar--fixed" data-height="70" data-style="standard" data-fixed="true" data-height_fixed="60" data-transition="default" style="">
	<div class="btx-container">
		<div class="btx-navbar-content-wrapper">
			<div class="btx-navbar-header">
				<a class="btx-navbar-brand"  href="">

										<b style="color: #01807e">CMS Security Scanner </b>  <font size="1"> fds.ma </font>					
									</a>
			</div>

			
			<ul id="menu-main-menu" class="btx-navbar-nav btx-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">


{% if session.logged_in %}
<li class="menu-item menu-item-type-post_type menu-item-object-page" style="background-color: ;"><a href="/crawler">crawler</a></li>	
<li class="menu-item menu-item-type-post_type menu-item-object-page" style="background-color: ;"><a href="/scan">scanner</a></li>		
<li class="menu-item menu-item-type-post_type menu-item-object-page" style="background-color: ;"><a href="/exploits">exploits</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page" style="background-color: ;"><a href="/db">Previous SCANS</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page" style="background-color: ;"><a href="/about">ABOUT</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page" style="background-color: ;"><a href="/logout">Logout</a></li>
{% else %}
<li class="menu-item menu-item-type-post_type menu-item-object-page" style="background-color: ;"><a href="/register">Register</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page" style="background-color: ;"><a href="/about">ABOUT</a></li>
{% endif %}


		</ul>
		
					</div>
	</div>
</nav>
										<div class="btx-header-widgets btx-left-alignment btx-dark-scheme btx-header-widgets--fixed">
						<div class="btx-header-widgets-content">
							<div class="btx-container">
								<div class="btx-row">

																			<div class="btx-header-widgets-column btx-p-border-border btx-col-3">
																							<div class="btx-widgets">
									
												</div>
																					</div>
																			<div class="btx-header-widgets-column btx-p-border-border btx-col-3">
																					</div>
																			<div class="btx-header-widgets-column btx-p-border-border btx-col-3">
																					</div>
																			<div class="btx-header-widgets-column btx-p-border-border btx-col-3">
																					</div>
																	</div>
							</div>
						</div>
					</div>

							</header>

		
	
    <main style="background-color: #f5f5f5;" class="btx-content" id="main">
        <article id="post-1059" class="btx-content-wrapper post-1059 page type-page status-publish hentry">
            






            <div id="main" class="btx-main btx-main--single blueprint-inactive ">
                <div class="btx-main-wrapper">
                    <div class="btx-container">
<div  class="btx-item js-item-space btx-space" style="height:20px;"></div>
<div style="overflow: hidden; padding-right: .5em;">
</div>​
<!--
<div class="panel">
</br></br>
	<input type="submit" value="Start Scan" style="float: right" />
<div style="overflow: hidden; padding-right: .5em;">
<input  type="text" name="theinput" value="" placeholder="Enter CMS site to Scan"><br>
</div>​
</div>

</br></br>
</br>
-->
<div class="container">
      {% include 'includes/_messages.html' %}
    </div>
<div class="" style="width: 70%">
</br></br>


        <form action="" method="POST">
    <div class="form-group">
      <p><b>
      <label>Username</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
      </p></b>
    </div>
    <div class="form-group">
      <p><b>
      <label>Password</label>
      <input type="password" name="password" class="form-control" value={{request.form.password}}>
      </b></p>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>




        
</div>
</tbody></table></div></div>


</br>
</br>
</br>



<!-- endif error in IP -->

</div><div id="formResponse" style="background-color: #f5f5f5;"></div></div>

</div>



</div>
</div>
<p></p></div><div class="btx-col-7"><p></p>

                                            </div>
                </div>
                            </div>
        </div></article>
    </main>
